[Unit]
Description=Dell laptop thermal monitoring
ConditionPathExists=/proc/i8k

[Service]
ExecStartPre=/usr/bin/dell-bios-fan-control 0
ExecStart=/usr/bin/i8kmon --nouserconfig
ExecStopPost=/usr/bin/dell-bios-fan-control 1
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
